#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: Arial, sans-serif; /* Эти шрифты поддерживают кириллицу */
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}